* {
  margin: 0px;
  padding: 0px;
}
.Header-js {
  background-color: #131921;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.Header {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  justify-content: flex-start;
}
img {
  height: 80px;
  width: 200px;
}
.headerSearch {
  flex: 1;
  height: 22px;
  padding: 10px;
  border: None;
}
.headerSearchIcon {
  color: black;
  background-color: rgb(212, 130, 35);
  height: 22px;
  padding: 10px;
  width: 100%;
  object-fit: contain;
}
.Header__nav {
  display: flex;
  justify-content: space-evenly;
}
.Header__option {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2px;
}
.HeaderLink {
  border: None;
  text-decoration: None;
}
.Header__optionLineone {
  font-size: 10px;
}
.Header__optionLinetwo {
  font-size: 13px;
  font-weight: 800;
}
.Header__optionBasket {
  display: flex;
  color: white;
  align-items: center;
}
.Header__optionBasketCount {
  margin-left: 10px;
  margin-right: 10px;
}
h3 {
  color: antiquewhite;
}
